body {
  background-color: #444;
  background-image: url(feaf18e64ad6327245d4cad8ef9dc8c9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

