body {
    background-color: #444;
    background-image: url(../imgs/147400747_932670130802944_6459329439635161747_n.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}